In [26]:
import pandas as pd

# 1. CSV 파일 읽기
# 'Untitled.csv' 파일이 코드와 같은 폴더에 있어야 합니다.
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data_processing/Untitled.csv');

df

,종목코드,종목명,결산월,회계년,주기,총자산,총부채,총자본,자본금,이익잉여금,...,SPS,FW_SPS,CFPS,FW_CFPS,EBITDAPS,수정_EPS,수정_BPS,수정SPS,수정_CFPS,수정_EBITDAPS
0,5930,삼성전자,12,2001,Annual,5.211488e+10,3.171636e+10,2.039852e+10,8.821172e+08,1.334193e+10,...,276562.42,NaN,39850.51,NaN,45188.15,363.84,2435.76,5531.25,797.01,903.76
1,5930,삼성전자,12,2002,Annual,6.495499e+10,3.946229e+10,2.549270e+10,8.891470e+08,1.949346e+10,...,351773.18,NaN,63356.51,NaN,76305.76,832.99,3162.31,7035.46,1267.13,1526.12
2,5930,삼성전자,12,2003,Annual,6.804174e+10,3.788203e+10,3.015971e+10,8.952410e+08,2.441568e+10,...,385830.59,NaN,61079.86,NaN,63067.90,709.81,3755.27,7716.61,1221.60,1261.36
3,5930,삼성전자,12,2004,Annual,6.900462e+10,3.260434e+10,3.640028e+10,8.975140e+08,3.057695e+10,...,478309.63,NaN,93221.63,NaN,98889.30,1259.28,4538.01,9566.19,1864.43,1977.79
4,5930,삼성전자,12,2005,Annual,7.446180e+10,3.285439e+10,4.160741e+10,8.975140e+08,3.736926e+10,...,473921.12,NaN,80292.96,NaN,79913.29,898.13,5369.72,9478.42,1605.86,1598.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,30200,KT,12,2021,Annual,3.715934e+10,2.059218e+10,1.656716e+10,1.564499e+09,1.328739e+10,...,95353.81,NaN,19165.09,NaN,20371.27,5196.54,61224.09,95353.81,19165.09,20371.27
996,30200,KT,12,2022,Annual,4.098068e+10,2.256596e+10,1.841472e+10,1.564499e+09,1.425734e+10,...,98233.82,NaN,19046.11,NaN,20683.68,4835.09,64395.66,98233.82,19046.11,20683.68
997,30200,KT,12,2023,Annual,4.270998e+10,2.414884e+10,1.856114e+10,1.564499e+09,1.449443e+10,...,101513.89,NaN,18772.56,NaN,21235.38,3886.63,66498.10,101513.89,18772.56,21235.38
998,30200,KT,12,2024,Annual,4.187996e+10,2.388341e+10,1.799655e+10,1.564499e+09,1.377978e+10,...,103975.95,NaN,17308.21,NaN,18642.51,1850.03,65176.58,103975.95,17308.21,18642.51
999,3670,포스코퓨처엠,12,2000,Annual,1.235978e+08,6.589502e+07,5.770282e+07,3.750000e+07,1.689207e+07,...,50095.27,NaN,4110.41,NaN,5833.88,114.92,1310.54,4266.59,350.08,496.87

In [27]:
# 2. 데이터 준비 및 정제
# '회계년' 컬럼을 숫자 형태로 변환합니다.
df['회계년'] = pd.to_numeric(df['회계년'], errors='coerce')
df.dropna(subset=['회계년'], inplace=True)
df['회계년'] = df['회계년'].astype(int)

# '자본금'과 '매출액'도 숫자로 변환합니다.
df['자본금'] = pd.to_numeric(df['자본금'], errors='coerce')
df['매출액'] = pd.to_numeric(df['매출액'], errors='coerce')

In [28]:
# 3. 데이터 필터링
# 2023년과 2024년 데이터만 각각 추출합니다.
df_2023 = df[df['회계년'] == 2023].copy()
df_2024 = df[df['회계년'] == 2024].copy()


# 2024년 기준 자본금 1000억 이상인 기업만 필터링합니다.
df_2024_filtered = df_2024[df_2024['자본금'] >= 100000000]
df_2024_filtered

,종목코드,종목명,결산월,회계년,주기,총자산,총부채,총자본,자본금,이익잉여금,...,SPS,FW_SPS,CFPS,FW_CFPS,EBITDAPS,수정_EPS,수정_BPS,수정SPS,수정_CFPS,수정_EBITDAPS
23,5930,삼성전자,12,2024,Annual,5.145319e+11,1.123399e+11,4.021921e+11,8.975140e+08,3.705132e+11,...,44293.47,NaN,11225.66,NaN,11093.84,4949.65,57930.01,44293.47,11225.66,11093.84
48,660,SK하이닉스,12,2024,Annual,1.198552e+11,4.593950e+10,7.391570e+10,3.657652e+09,6.541806e+10,...,90924.10,NaN,44464.44,NaN,49517.50,27182.17,104566.52,90924.10,44464.44,49517.50
73,373220,LG에너지솔루션,12,2024,Annual,6.030679e+10,2.934025e+10,3.096654e+10,1.170000e+08,1.397211e+09,...,109485.41,NaN,8662.58,NaN,9150.22,-4353.59,90240.33,109485.41,8662.58,9150.22
98,207940,삼성바이오로직스,12,2024,Annual,1.733630e+10,6.431620e+09,1.090468e+10,1.779350e+08,5.086609e+09,...,63890.22,NaN,23638.08,NaN,26964.25,15220.67,153211.51,63890.22,23638.08,26964.25
123,329180,HD현대중공업,12,2024,Annual,1.939095e+10,1.368650e+10,5.704449e+09,4.438656e+08,1.288341e+09,...,163185.14,NaN,10446.00,NaN,11389.02,7001.10,64258.73,163185.14,10446.00,11389.02
148,12450,한화에어로스페이스,12,2024,Annual,4.333687e+10,3.197256e+10,1.136432e+10,2.404058e+08,4.746520e+09,...,229509.00,NaN,53699.08,NaN,42120.30,46182.88,108270.05,225799.72,52831.20,41439.56
173,5380,현대차,12,2024,Annual,3.397984e+11,2.195225e+11,1.202759e+11,1.488993e+09,9.659567e+10,...,644061.23,NaN,61798.66,NaN,68094.42,46041.79,405094.00,644061.23,61798.66,68094.42
198,270,기아,12,2024,Annual,9.275587e+10,3.691556e+10,5.584031e+10,2.139317e+09,5.024110e+10,...,268412.32,NaN,30781.53,NaN,38011.34,24413.33,141270.66,268412.32,30781.53,38011.34
223,105560,KB금융,12,2024,Annual,7.578455e+11,6.980304e+11,5.981518e+10,2.090558e+09,3.480822e+10,...,212854.64,NaN,14997.82,NaN,22421.12,12705.32,150243.31,212854.64,14997.82,22421.12
248,34020,두산에너빌리티,12,2024,Annual,2.631484e+10,1.465374e+10,1.166109e+10,3.267327e+09,1.394448e+09,...,25341.93,NaN,940.42,NaN,2355.17,173.86,11706.45,25341.93,940.42,2355.17
273,68270,셀트리온,12,2024,Annual,2.105522e+10,3.475160e+09,1.758006e+10,2.205083e+08,3.744280e+09,...,16365.56,NaN,3868.79,NaN,4187.72,1788.61,82821.03,15052.69,3558.43,3851.78
298,42660,한화오션,12,2024,Annual,1.784381e+10,1.298046e+10,4.863350e+09,1.537067e+09,2.364483e+08,...,35171.47,NaN,2310.03,NaN,1362.71,1723.71,15858.97,35171.47,2310.03,1362.71
348,55550,신한지주,12,2024,Annual,7.397643e+11,6.809432e+11,5.882103e+10,2.969641e+09,3.902058e+10,...,97175.13,NaN,11255.22,NaN,15200.04,8740.46,111836.88,97175.13,11255.22,15200.04
373,12330,현대모비스,12,2024,Annual,6.659690e+10,2.047867e+10,4.611823e+10,4.910960e+08,4.291119e+10,...,613625.38,NaN,54035.83,NaN,43506.03,43479.66,501648.04,613625.38,54035.83,43506.03
398,9540,HD한국조선해양,12,2024,Annual,3.671914e+10,2.256332e+10,1.415581e+10,3.538656e+08,1.508388e+10,...,360851.39,NaN,23993.70,NaN,27692.20,16564.71,156979.93,360851.39,23993.70,27692.20
423,32830,삼성생명,12,2024,Annual,3.122188e+11,2.794809e+11,3.273793e+10,1.000000e+08,1.941996e+10,...,168930.15,NaN,12005.39,NaN,13969.95,10534.20,164215.28,168930.15,12005.39,13969.95
498,86790,하나금융지주,12,2024,Annual,6.378475e+11,5.942706e+11,4.357693e+10,1.501210e+09,2.764014e+10,...,280973.58,NaN,17969.07,NaN,21812.27,12871.74,149739.76,280973.58,17969.07,21812.27
523,15760,한국전력,12,2024,Annual,2.468078e+11,2.054450e+11,4.136283e+10,3.209820e+09,2.012825e+10,...,145489.29,NaN,27243.04,NaN,34833.83,5439.09,62176.74,145489.29,27243.04,34833.83
548,5490,POSCO홀딩스,12,2024,Annual,1.034042e+11,4.195383e+10,6.145037e+10,4.824031e+08,5.365837e+10,...,867853.36,NaN,60644.75,NaN,73523.26,13072.66,689204.52,867853.36,60644.75,73523.26
573,138040,메리츠금융지주,12,2024,Annual,1.155782e+11,1.046482e+11,1.093004e+10,1.130939e+08,8.790694e+09,...,240275.80,NaN,12329.96,NaN,16884.25,11897.05,56959.29,240275.80,12329.96,16884.25
598,11200,HMM,12,2024,Annual,3.384856e+10,5.993018e+09,2.785554e+10,4.405197e+09,1.411476e+10,...,13280.02,NaN,5317.77,NaN,5012.08,4292.85,31614.84,13280.02,5317.77,5012.08
623,64350,현대로템,12,2024,Annual,5.285395e+09,3.276310e+09,2.009085e+09,5.457115e+08,6.886138e+08,...,40099.93,NaN,4158.79,NaN,4613.92,3728.09,18736.80,40099.93,4158.79,4613.92
698,51910,LG화학,12,2024,Annual,9.385776e+10,4.586230e+10,4.799546e+10,3.914060e+08,1.859217e+10,...,624877.23,NaN,50989.37,NaN,52619.80,-8825.29,425191.16,624877.23,50989.37,52619.80
723,10140,삼성중공업,12,2024,Annual,1.719464e+10,1.344519e+10,3.749451e+09,8.801148e+08,-2.136027e+09,...,11252.03,NaN,401.17,NaN,899.77,72.58,5413.91,11252.03,401.17,899.77
748,316140,우리금융지주,12,2024,Annual,5.257533e+11,4.898581e+11,3.589527e+10,3.802676e+09,2.695051e+10,...,62601.14,NaN,5707.01,NaN,7277.11,4144.15,45963.83,62601.14,5707.01,7277.11
773,267260,HD현대일렉트릭,12,2024,Annual,3.795545e+09,2.288028e+09,1.507517e+09,1.802357e+08,8.158763e+08,...,92166.80,NaN,15724.30,NaN,20368.32,13914.20,42084.55,92166.80,15724.30,20368.32
798,6400,삼성SDI,12,2024,Annual,4.059734e+10,1.903011e+10,2.156724e+10,3.567121e+08,1.277992e+10,...,235744.20,NaN,35153.01,NaN,30523.41,8305.41,278720.67,229947.88,34288.69,29772.92
823,33780,KT&G,12,2024,Annual,1.392524e+10,4.566772e+09,9.358465e+09,9.549590e+08,8.783244e+09,...,45490.82,NaN,10901.45,NaN,11079.19,8974.74,81920.13,45490.82,10901.45,11079.19
848,10130,고려아연,12,2024,Annual,1.479232e+10,7.196894e+09,7.595428e+09,1.045429e+08,7.600981e+09,...,580162.20,NaN,26167.10,NaN,51800.81,9190.32,454583.40,580162.20,26167.10,51800.81
898,96770,SK이노베이션,12,2024,Annual,1.105301e+11,7.088119e+10,3.964891e+10,7.860159e+08,8.231277e+09,...,702099.13,NaN,1828.64,NaN,23282.32,-21236.33,164555.80,702099.13,1828.64,23282.32
923,24110,기업은행,12,2024,Annual,4.722198e+11,4.379887e+11,3.423109e+10,4.211365e+09,2.359312e+10,...,40668.40,NaN,3711.53,NaN,4902.31,3316.33,42570.38,40668.40,3711.53,4902.31
998,30200,KT,12,2024,Annual,4.187996e+10,2.388341e+10,1.799655e+10,1.564499e+09,1.377978e+10,...,103975.95,NaN,17308.21,NaN,18642.51,1850.03,65176.58,103975.95,17308.21,18642.51

In [29]:
# 4. 2023년과 2024년 데이터 합치기
# '종목코드'를 기준으로 두 데이터를 합쳐서 23년과 24년 매출액을 나란히 놓습니다.
merged_df = pd.merge(
    df_2024_filtered[['종목코드', '종목명', '매출액']],
    df_2023[['종목코드', '매출액']],
    on='종목코드',
    suffixes=('_2024', '_2023')
)

In [30]:
# 5. 매출액 증가율 계산
# 2023년 매출액이 0보다 큰 경우에만 계산하여 오류를 방지합니다.
merged_df = merged_df[merged_df['매출액_2023'] > 0]
merged_df['매출액 증가율'] = ((merged_df['매출액_2024'] - merged_df['매출액_2023']) / merged_df['매출액_2023']) * 100

In [31]:
# 6. 최종 결과 정렬 및 선택
# '매출액 증가율' 기준으로 내림차순 정렬 후 상위 20개를 선택합니다.
top_20_growth = merged_df.sort_values(by='매출액 증가율', ascending=False).head(20)

# 보기 좋게 컬럼 이름을 변경하고 순서를 정리합니다.
final_output = top_20_growth.rename(columns={
    '매출액_2023': '23년 매출액',
    '매출액_2024': '24년 매출액'
})[['종목코드', '종목명', '23년 매출액', '24년 매출액', '매출액 증가율']]

In [32]:
# 7. 결과 출력 및 파일 저장
print("--- 상위 20개 기업 매출액 증가율 ---")
print(final_output)

--- 상위 20개 기업 매출액 증가율 ---
      종목코드        종목명       23년 매출액       24년 매출액     매출액 증가율
1      660     SK하이닉스  3.276572e+10  6.619296e+10  102.018945
10   68270       셀트리온  2.176432e+09  3.557304e+09   63.446610
11   42660       한화오션  7.408312e+09  1.077600e+10   45.458298
5    12450  한화에어로스페이스  7.889687e+09  1.124012e+10   42.466004
20   11200        HMM  8.400969e+09  1.170022e+10   39.272315
28   10130       고려아연  9.704521e+09  1.205292e+10   24.198999
23   10140      삼성중공업  8.009430e+09  9.903078e+09   23.642731
3   207940   삼성바이오로직스  3.694589e+09  4.547322e+09   23.080604
25  267260   HD현대일렉트릭  2.702799e+09  3.322349e+09   22.922518
21   64350       현대로템  3.587382e+09  4.376598e+09   21.999756
4   329180    HD현대중공업  1.196393e+10  1.448645e+10   21.084446
14    9540   HD한국조선해양  2.129621e+10  2.553858e+10   19.920787
0     5930       삼성전자  2.589355e+11  3.008709e+11   16.195311
15   32830       삼성생명  9.940661e+09  1.083716e+10    9.018545
6     5380        현대차  1.626636e+11  1.752312e+11    7.726114
7      270         기아  9.980842e+10  1.074488e+11    7.654997
24  316140     우리금융지주  2.064155e+10  2.201334e+10    6.645754
12   55550       신한지주  2.757921e+10  2.920934e+10    5.910709
17   15760       한국전력  8.821946e+10  9.339890e+10    5.871080
8   105560       KB금융  2.914202e+10  3.049138e+10    4.630293